* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: rgb(65, 123, 203);
    color: white;
}

header {
    background-color: rgb(3, 84, 155);
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
}

.header--title {
    font-size: 32px;
    font-weight: 700;
}

.header--img {
   max-width: 50px;
}

.header--descr {
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
}